body {
  padding-top:20px;
}

.nav li + .nav-header {
  margin-top:0px; // overriding bootstrap
}

.sidebar-nav {
  padding: 9px 0;
}

.sidebar-nav form {
  margin:20px 0px 0px 0px;
}

.sidebar-nav form input {
  width: 90%;
}

.toc ol ol {
  list-style-type: lower-roman;
}

.alert i {
  float:left;
  margin-top:3px;
}
.alert p {
  margin-left:20px;
}

.nav .toggle {
  cursor:pointer;
}

.nav [class^="icon-"], .nav [class*=" icon-"] {
  opacity:0.4;
  margin-top:-1px;
  margin-left:3px;
}

.nav-list .icon-search {
  opacity:1.0;
  margin-top:0px;
}

.guide img {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height:400px;
  -webkit-box-shadow: black 0 2px 10px;
  -moz-box-shadow: black 0 2px 10px;
  box-shadow: black 0 2px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 30px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
.print-only {
  display:none;
}

@media print {
  .no-print {
    display:none !important;
  }

  .print-only {
    display:block;
  }

  /* prevent browsers from writing the url after the link */
  a[href]:after {
    content: none !important;
  }
}