<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} PayAus Help</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  {% bundle %}
  - /css/bootstrap.min.css
  - /css/bootstrap-responsive.min.css
  - /css/style.css
  {% endbundle %}
  {% bundle %}
  - /js/jquery-1.9.1.min.js
  - /js/nav.js
  - /js/toc.js
  {% endbundle %}
  {% render_partial analytics.html %}
</head>
<body>
  {{ content }}
  <footer class="footer">
    <div class="container">
      <p>PayAus is a powerful and easy-to-use system for rostering and timesheeting that will help you run your business more efficiently.</p>
      <ul class="footer-links">
        <li><a href="http://help.payaus.com">PayAus Help</a></li>
        <li class="muted">·</li>
        <li><a href="http://www.payaus.com/about/us?from=help">Email Us</a></li>
        <li class="muted">·</li>
        <li><a href="https://twitter.com/payauspayroll">Tweet @PayAusPayroll</a></li>
        <li class="muted">·</li>
        <li><a href="http://help.payaus.com/about/this/">About This Site</a></li>
      </ul>
      <ul class="footer-links">
        <li><a href="http://www.payaus.com">PayAus</a></li>
        <li class="muted">·</li>
        <li><a href="http://www.payaus.com/about/us">About</a></li>
        <li class="muted">·</li>
        <li><a href="http://news.payaus.com">News</a></li>
        <li class="muted">·</li>
        <li><a href="http://www.payaus.com/users/sign_in">Log In</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>