<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} PayAus Help</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
  <!--<script type="text/javascript" src="/js/bootstrap.min.js"></script>-->
  {% render_partial analytics.html %}
</head>
<body>
  {{ content }}
  <footer class="footer">
    <div class="container">
      <p>PayAus is a powerful and easy-to-use system for rostering and timesheeting that will help you run your business more efficiently.</p>
      <ul class="footer-links">
        <li><a href="http://www.payaus.com">Home</a></li>
        <li class="muted">·</li>
        <li><a href="http://www.payaus.com/about/us">About PayAus</a></li>
        <li class="muted">·</li>
        <li><a href="http://news.payaus.com">News</a></li>
        <li class="muted">·</li>
        <li><a href="http://www.payaus.com/users/sign_in">Log In</a></li>
        <li class="muted">·</li>
        <li><a href="http://help.payaus.com">Help</a></li>
        <li class="muted">·</li>
        <li><a href="http://www.payaus.com/demos/new?from=help">Tour</a></li>
        <li class="muted">·</li>
        <li><a href="http://www.payaus.com/about/us?from=help">Questions</a></li>
        <li class="muted">·</li>
        <li><a href="http://help.payaus.com/about/this/">About This Site</a></li>
      </ul>
    </div>
  </footer>
  <script type="text/javascript" src="/js/nav.js"></script>
  <script type="text/javascript" src="/js/toc.js"></script>
</body>
</html>